*{
    padding: 0;
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*-------- Nav-bar & Home ---------*/

#nav-home{
    width: auto;
    height:650px;
    background-color: #ff4000f3;
}

#nav-home #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
}

#nav-home #nav .nav-buttons .app{
    width:200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #fff;
    font-size: 25px;
    font-weight: bold;
    color: #ff4000f3;
}

#nav-home #nav .nav-buttons .sign-in{
    width:130px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #fff;
    font-size: 25px;
    font-weight: bold;
    color: #ff4000f3;
    margin-left: 50px;
}

#nav-home #nav .image img{
    width: 170px;
    height:50px;
}

#nav-home #home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

#nav-home #home .home-content{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
}

#nav-home #home .home-content img{
    width:250px;
    height:350px;
}

#nav-home #home .home-content p{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

#nav-home #home .home-content .search input{
    width: 500px;
    height:50px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
}

#nav-home #home .home-content .search i{
    position: relative;
    right: 40px;
    font-size: 20px;
}

/*-------- Food-section ---------*/

#foods{
    padding:50x 0;
}

#foods p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 50px 0;
}

#foods .foods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:20px;
    display: flex;
    justify-content: center;
}

#foods .foods .image img{
    width:160px;
    height:170px;    
}

/*----------- Restaurants section -------------*/

#restaurant .restaurant{
    padding:100px 0;
}

#restaurant .restaurant p{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 30px 0;
}

#restaurant .restaurant #rows #cols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap:30px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

#restaurant .restaurant #rows #cols .image img{
    width: 250px;
    height: 150px;   
    border-radius: 15px;
}

#restaurant .restaurant #rows #cols .image figcaption{
    padding: 10px 20px; 
    font-size: 15px;
}

#restaurant .restaurant #rows #cols .image figcaption bold{
    font-size: 16px;
    font-weight: bold;
}

#restaurant .restaurant #rows #cols .image figcaption i{
    font-size: 9px;
    font-weight: bold;
    color: #fff; 
    background-color: green;   
    width:15px;
    height: 15px;
    border-radius: 50%;
    padding:2.5px;
}

#restaurant .restaurant #rows #cols .image figcaption strong{
    margin:10px 0;
}

/*-------- App Scanner Image --------*/

#scanner-image img{
    width: 1350px;
    height:250px;
}

/*--------- Cities Available in -------*/

#cities {
    display:flex ;
    justify-content: center;
    margin: 50px 0;
}

#cities .cities header{
    font-size: 23px;
    font-weight: 800;
}

#cities .cities .rows{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

#cities .cities .rows .cols .box{
    width:200px;
    height:60px;
    border: 1px solid #706e6e65;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
}

#cities .cities .rows .cols .box a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #000000b2;
}

/*-------------- Footer Section --------------*/

#footer{
    background-color: rgba(128, 128, 128, 0.144);
}

#contact{
    padding: 50px  100px;
    background-color: rgba(128, 128, 128, 0.144);
}

#contact .contact{
    display: flex;  
    justify-content: space-evenly;  
}

#contact .contact .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}

#contact .contact .container .copyright{
    margin-right: 50px;
}

#contact .contact .container .copyright p{
    font-size: 15px;
    margin-top: 10px;    
}

#contact .contact .container .contact-info{
    display: flex;
    flex-direction: column;
}

#contact .contact .container .contact-info a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #4d4c4c;
    line-height: 30px;
}

#contact .contact .container .contact-info bold{
    margin: 10px 0;
    font-weight: bold;
}

#contact .icons{
    text-align: center;
    margin: 40px 0;
    line-height: 50px;
}

#contact .icons bold{
    margin: 10px 0;
    font-weight: bold;
}

#contact .icons a{
    color: #000;
    font-size: 22px;
    margin-right: 20px;
}



/*------------- Apps Downloading ----------------*/

#app{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px 0;
    background-color: rgba(128, 128, 128, 0.144);

}

#app .content p{
    font-size: 25px;
    font-weight: bold;
}

